<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yellow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-categoryName=""><img src="~/images/logo.png" alt="logo" /></a>
            <ul>
                <li class="phone">
                    <a href="tel:0800210186">0&nbsp;800&nbsp;210&nbsp;186</a>
                    <ul>
                        <li><a href="tel:0800210186">0 800 210 186</a></li>
                        <li><a href="tel:0443336352">(044) 333-63-52</a></li>
                        <li><a href="tel:0667313271">(066) 731-32-71</a></li>
                        <li><a href="tel:0671530508">(067) 153-05-08</a></li>
                        <li><a href="tel:0632334950">(063) 233-49-50</a></li>
                    </ul>
                </li>
                <li class="call"><a href="">Заказать звонок</a></li>
                <li><div class="separator"></div></li>
                <li><a href="">Кредит</a></li>
                <li><a href="">Сервисный центр</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Блог</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Расширенная гарантия</a></li>
            </ul>
            <ul class="drop-down">
                <li>
                    <a href="">Apple</a>
                    <ul>
                        <li>
                            <a href="">iPhone</a>
                            <ul class="vertical">
                                <li><a href="">iPhone 12</a></li>
                                <li><a href="">iPhone 12 Pro</a></li>
                                <li><a href="">iPhone 12 Pro Max</a></li>
                                <li><a href="">iPhone 12 Mini</a></li>
                                <li><a href="">iPhone 11</a></li>
                                <li><a href="">iPhone 11 Pro</a></li>
                                <li><a href="">iPhone 11 Pro Max</a></li>
                                <li><a href="">iPhone XR</a></li>
                                <li><a href="">iPhone XS</a></li>
                                <li><a href="">iPhone SE 2</a></li>
                                <li><a href="">iPhone 8</a></li>
                                <li><a href="" class="hit">iPhone Б/У</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">iPad</a>
                            <ul class="vertical">
                                <li><a href="" class="new">iPad Air (2020)</a></li>
                                <li><a href="">iPad 10.2 (2020)</a></li>
                                <li><a href="">iPad Pro 11" (2020)</a></li>
                                <li><a href="">iPad Pro 12.9" (2020)</a></li>
                                <li><a href="">iPad Air (2019)</a></li>
                                <li><a href="">iPad Mini 5 (2019)</a></li>
                                <li><a href="">iPad Pro 11" (2018)</a></li>
                                <li><a href="">iPad Pro 12.9" (2018)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Macbook</a>
                            <ul class="vertical">
                                <li><a href="" class="new">MacBook Air M1</a></li>
                                <li><a href="">MacBook Pro M1</a></li>
                                <li><a href="">MacBook Pro 13</a></li>
                                <li><a href="">MacBook Pro 15</a></li>
                                <li><a href="">MacBook Pro 16</a></li>
                                <li><a href="">MacBook Pro 13.3" Custom</a></li>
                                <li><a href="">MacBook Pro 15.4" Custom</a></li>
                                <li><a href="">MacBook Pro 16.0" Custom</a></li>
                                <li><a href="">MacBook Air 2020</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Mac</a>
                            <ul class="vertical">
                                <li><a href="">iMac 21"</a></li>
                                <li><a href="">iMac 27"</a></li>
                                <li><a href="">iMac 21.5" Custom</a></li>
                                <li><a href="">iMac 27.0" Custom</a></li>
                                <li><a href="" class="new">iMac 21.5" 2020</a></li>
                                <li><a href="" class="new">iMac 27.0" 2020</a></li>
                                <li><a href="">Mac Mini</a></li>
                                <li><a href="">iMac Pro 27"</a></li>
                                <li><a href="">Display for Apple</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">iWatch</a>
                            <ul class="vertical">
                                <li><a href="" class="new">iWatch Series 6</a></li>
                                <li><a href="">iWatch Series SE</a></li>
                                <li><a href="">iWatch Nike+</a></li>
                                <li><a href="">iWatch Series 5</a></li>
                                <li><a href="">iWatch Series 3</a></li>
                                <li><a href="">iWatch Hermes</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Accessories</a>
                            <ul class="vertical">
                                <li><a href="" class="hit">AirPods</a></li>
                                <li><a href="">HomePod</a></li>
                                <li><a href="">Приставка TV</a></li>
                                <li><a href="">Сети AirPort Express</a></li>
                                <li><a href="">Переходники и Адаптеры</a></li>
                                <li><a href="">Мыши и Клавиатуры</a></li>
                                <li><a href="">Зарядные устройства</a></li>
                                <li><a href="">Кабеля и Докстанции</a></li>
                                <li><a href="">Пенсил и Чехол-клавиатура</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Cases</a>
                            <ul class="vertical">
                                <li><a href="">Чехлы для iPad</a></li>
                                <li><a href="">Чехлы для iPhone</a></li>
                                <li><a href="">Чехлы для MacBook</a></li>
                                <li><a href="">Стекла для iPhone</a></li>
                                <li><a href="">Ремешки для iWatch</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Смартфоны</a>
                    <ul>
                        <li>
                            <a href="">Samsung S</a>
                            <ul class="vertical">
                                <li><a href="">Galaxy S20</a></li>
                                <li><a href="">Galaxy S20 Ultra</a></li>
                                <li><a href="">Galaxy S20 Plus</a></li>
                                <li><a href="">Galaxy S10</a></li>
                                <li><a href="">Galaxy S10 Plus</a></li>
                                <li><a href="">Galaxy S10 Lite</a></li>
                                <li><a href="">Galaxy S9 Plus</a></li>
                                <li><a href="">Galaxy A (2020)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Samsung Note</a>
                            <ul class="vertical">
                                <li><a href="">Galaxy Note 20</a></li>
                                <li><a href="">Galaxy Note 20 Ultra</a></li>
                                <li><a href="">Galaxy Note 10</a></li>
                                <li><a href="">Galaxy Note 10 Plus</a></li>
                                <li><a href="">Galaxy Note 10 Lite</a></li>
                                <li><a href="">Galaxy Note 9</a></li>
                                <li><a href="">Galaxy Z Flip</a></li>
                                <li><a href="" class="new">Galaxy Fold 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Смартфоны</a>
                            <ul class="vertical">
                                <li><a href="">Huawei</a></li>
                                <li><a href="">Google Pixel</a></li>
                                <li><a href="">OnePlus 8</a></li>
                                <li><a href="">Asus</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Xiaomi Mi</a>
                            <ul class="vertical">
                                <li><a href="">Xiaomi Mi 10T Pro</a></li>
                                <li><a href="">Xiaomi Mi 10T</a></li>
                                <li><a href="">Xiaomi Mi 10 Lite</a></li>
                                <li><a href="">Xiaomi Mi 10</a></li>
                                <li><a href="">Xiaomi Mi Note 10</a></li>
                                <li><a href="">Xiaomi Mi Note 10 Lite</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Xiaomi Note</a>
                            <ul class="vertical">
                                <li><a href="" class="new">Xiaomi Poco X3</a></li>
                                <li><a href="">Xiaomi Poco F2 Pro</a></li>
                                <li><a href="">Redmi 9</a></li>
                                <li><a href="">Redmi Note 9</a></li>
                                <li><a href="">Redmi Note 9S</a></li>
                                <li><a href="">Redmi Note 9 Pro</a></li>
                                <li><a href="">Redmi Note 8 Pro</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Смарт-Часы</a>
                            <ul class="vertical">
                                <li><a href="">Samsung Watch</a></li>
                                <li><a href="">Garmin</a></li>
                                <li><a href="">Amazfit</a></li>
                                <li><a href="">Suunto</a></li>
                                <li><a href="">Фитнес-Трекеры</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Мониторы Ноутбуки и ПК</a>
                    <ul>
                        <li>
                            <a href="">Мониторы</a>
                            <ul class="vertical">
                                <li><a href="">Asus</a></li>
                                <li><a href="">Aser</a></li>
                                <li><a href="">AOC</a></li>
                                <li><a href="">Samsung</a></li>
                                <li><a href="">Philips</a></li>
                                <li><a href="">HP</a></li>
                                <li><a href="">LG</a></li>
                                <li><a href="">Dell</a></li>
                                <li><a href="">Liyama</a></li>
                                <li><a href="">Eizo</a></li>
                                <li><a href="">NEC</a></li>
                                <li><a href="">BenQ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">ПК</a>
                            <ul class="vertical">
                                <li><a href="">Моноблоки</a></li>
                                <li><a href="">Настольные ПК</a></li>
                                <li><a href="">Apple</a></li>
                                <li><a href="">Aser</a></li>
                                <li><a href="">Dell</a></li>
                                <li><a href="">HP</a></li>
                                <li><a href="">Asus</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Ноутбуки</a>
                            <ul class="vertical">
                                <li><a href="">Apple</a></li>
                                <li><a href="">Aсer</a></li>
                                <li><a href="">Asus</a></li>
                                <li><a href="">Dell</a></li>
                                <li><a href="">Msi</a></li>
                                <li><a href="">HP</a></li>
                                <li><a href="">Lenovo</a></li>
                                <li><a href="">Модемы, роутеры</a></li>
                                <li><a href="">Сумки для ноутбуков</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Ноутбуки extra</a>
                            <ul class="vertical">
                                <li><a href="">MicrosoftM</a></li>
                                <li><a href="">GoogleM</a></li>
                                <li><a href="">XiaomiM</a></li>
                                <li><a href="">RazerM</a></li>
                                <li><a href="">HuaweiM</a></li>
                                <li><a href="">Dream MachinesM</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Планшеты</a>
                            <ul class="vertical">
                                <li><a href="">Apple</a></li>
                                <li><a href="">Samsung</a></li>
                                <li><a href="">Lenovo</a></li>
                                <li><a href="">Microsoft</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Комлектующие</a>
                            <ul class="vertical">
                                <li><a href="">Внутренние HDD</a></li>
                                <li><a href="">Накопители SDD</a></li>
                                <li><a href="">Внешний жесткий диск</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Фото Видео Аудио</a>
                    <ul>
                        <li>
                            <a href="">Фотоаппараты</a>
                            <ul class="vertical">
                                <li><a href="" class="new">Камеры мгновенной печати</a></li>
                                <li><a href="">Canon</a></li>
                                <li><a href="">Sony</a></li>
                                <li><a href="">Nikon</a></li>
                                <li><a href="">Panasonic</a></li>
                                <li><a href="">Зеркальные</a></li>
                                <li><a href="">Системные</a></li>
                                <li><a href="">Компактные</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Sony Plastation</a>
                            <ul class="vertical">
                                <li><a href="">Sony PS5</a></li>
                                <li><a href="">Xbox X</a></li>
                                <li><a href="">Sony PS4 Pro</a></li>
                                <li><a href="">Sony PS4 Slim</a></li>
                                <li><a href="">Игры PS4</a></li>
                                <li><a href="">Геймпады Sony</a></li>
                                <li><a href="">Очки VR</a></li>
                                <li><a href="">Игровые приставки</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Экшн-камеры</a>
                            <ul class="vertical">
                                <li><a href="" class="new">GoPro</a></li>
                                <li><a href="">Sony</a></li>
                                <li><a href="" class="hit">DJI</a></li>
                                <li><a href="">Стедикам</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Портативная акустика</a>
                            <ul class="vertical">
                                <li><a href="">JBL</a></li>
                                <li><a href="">Bose</a></li>
                                <li><a href="">Harman-Kardon</a></li>
                                <li><a href="">Bang & Olufsen</a></li>
                                <li><a href="">Sony</a></li>
                                <li><a href="">Jarre</a></li>
                                <li><a href="">Anker</a></li>
                                <li><a href="">Ergo</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Наушники</a>
                            <ul class="vertical">
                                <li><a href="">Xiaomi AirDorts</a></li>
                                <li><a href="">Beats</a></li>
                                <li><a href="">Sony</a></li>
                                <li><a href="">Samsung</a></li>
                                <li><a href="">Bose</a></li>
                                <li><a href="">Marshall</a></li>
                                <li><a href="">Urbanears</a></li>
                                <li><a href="">Sennheiser</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Телевизоры</a>
                    <ul>
                        <li>
                            <a href="">Samsung</a>
                            <ul class="vertical">
                                <li><a href="">Samsung QLED 4K</a></li>
                                <li><a href="">Samsung QLED 8K</a></li>
                                <li><a href="">Samsung 43"</a></li>
                                <li><a href="">Samsung 49"</a></li>
                                <li><a href="">Samsung 50"</a></li>
                                <li><a href="">Samsung 55"</a></li>
                                <li><a href="">Samsung 65"</a></li>
                                <li><a href="">Samsung 82"</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">LG</a>
                            <ul class="vertical">
                                <li><a href="">LG 43"</a></li>
                                <li><a href="">LG 49"</a></li>
                                <li><a href="">LG 55"</a></li>
                                <li><a href="">LG 65"</a></li>
                                <li><a href="">LG 75"</a></li>
                                <li><a href="">LG 77"</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Sony</a>
                            <ul class="vertical">
                                <li><a href="">Sony 40"</a></li>
                                <li><a href="">Sony 43"</a></li>
                                <li><a href="">Sony 49"</a></li>
                                <li><a href="">Sony 55"</a></li>
                                <li><a href="">Sony 65"</a></li>
                                <li><a href="">Sony 75"</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Philips</a>
                            <ul class="vertical">
                                <li><a href="">Romsat</a></li>
                                <li><a href="">Aiwa</a></li>
                                <li><a href="">Satelit</a></li>
                                <li><a href="">OzoneHD</a></li>
                                <li><a href="">Sharp</a></li>
                                <li><a href="">Skyworth</a></li>
                                <li><a href="">Gazer</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Телевизоры</a>
                            <ul class="vertical">
                                <li><a href="">Kivi</a></li>
                                <li><a href="">Xiaomi</a></li>
                                <li><a href="">TСL</a></li>
                                <li><a href="">Liberty</a></li>
                                <li><a href="">Panasonic</a></li>
                                <li><a href="">Hisense</a></li>
                                <li><a href="">Ergo</a></li>
                                <li><a href="">Крепления для TV</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Проекторы</a>
                            <ul class="vertical">
                                <li><a href="">Acer</a></li>
                                <li><a href="">Asus</a></li>
                                <li><a href="">Sony</a></li>
                                <li><a href="">Epson</a></li>
                                <li><a href="">Dell</a></li>
                                <li><a href="">Canon</a></li>
                                <li><a href="">BenQ</a></li>
                                <li><a href="">NEC</a></li>
                                <li><a href="">ViewSonic</a></li>
                                <li><a href="">Крепления</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Гаджеты</a>
                    <ul>
                        <li>
                            <a href="">Квадракоптеры</a>
                            <ul class="vertical">
                                <li><a href="">DJI</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Электротранспорт</a>
                            <ul class="vertical">
                                <li><a href="">Гироскутеры</a></li>
                                <li><a href="">Электросамокаты</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Умный дом</a>
                            <ul class="vertical">
                                <li><a href="">Охрана Ajax</a></li>
                                <li><a href="">Fibaro</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Кабели, Адаптеры</a>
                            <ul class="vertical">
                                <li><a href="">Кабеля Lighting</a></li>
                                <li><a href="">Адаптеры</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Зарядные устройства, Автодержатели</a>
                            <ul class="vertical">
                                <li><a href="">Автомобильные ЗУ</a></li>
                                <li><a href="">Сетевые ЗУ</a></li>
                                <li><a href="">Автодержатели</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Бытовая техника</a>
                    <ul>
                        <li>
                            <a href="">Пылесосы</a>
                            <ul class="vertical">
                                <li><a href="">Роботы-пылесосы</a></li>
                                <li><a href="">iRobot</a></li>
                                <li><a href="">Dyson</a></li>
                                <li><a href="">Karcher</a></li>
                                <li><a href="">Philips</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Кондиционеры</a>
                            <ul class="vertical">
                                <li><a href="">Сooper&Hunter</a></li>
                                <li><a href="">Panasonic</a></li>
                                <li><a href="">Daikin</a></li>
                                <li><a href="">Toshiba</a></li>
                                <li><a href="">Carrier</a></li>
                                <li><a href="">Neoclima</a></li>
                                <li><a href="">Midea</a></li>
                                <li><a href="">Idea</a></li>
                                <li><a href="">Samurai</a></li>
                                <li><a href="">Leberg</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Встраиваемая крупная БТ</a>
                            <ul class="vertical">
                                <li><a href="">Духовые шкафы</a></li>
                                <li><a href="">Варочные поверхности</a></li>
                                <li><a href="">Посудомоечные машины</a></li>
                                <li><a href="">Вытяжки</a></li>
                                <li><a href="">Холодильники</a></li>
                                <li><a href="">Стиральные машины</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Мелкая бытовая техника</a>
                            <ul class="vertical">
                                <li><a href="">Фены</a></li>
                                <li><a href="">Очистители</a></li>
                                <li><a href="">Увлажнители</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
        <main role="main">
            @RenderBody()
        </main>

    <footer class="border-top footer text-muted">
        <div class="row">
            <div class="column">
                <img src="~/images/logo-white.png" alt="logo" />
                <ul>
                    <li><b><a href="tel:0800210186">0 800 210 186</a></b></li>
                    <li><b><a href="tel:0443336352">(044) 333-63-52</a></b></li>
                    <li><b><a href="tel:0667313271">(066) 731-32-71</a></b></li>
                    <li><b><a href="tel:0671530508">(067) 153-05-08</a></b></li>
                    <li><b><a href="tel:0632334950">(063) 233-49-50</a></b></li>
                </ul>
                <a href="">Заказать звонок</a>
            </div>
            <div class="column">
                <b>Покупателю</b>
                <ul>
                    <li><a href="">Услуги и Сервисы</a></li>
                    <li><a href="">Карта сайта</a></li>
                    <li><a href="">Пользовательское соглашение</a></li>
                    <li><a href="">Гарантия и Возврат товара</a></li>
                    <li><a href="">Доставка и Оплата</a></li>
                </ul>
            </div>
            <div class="column">
                <b>Ждем Вас</b>
                <address>
                    <ul>
                        <li><b>г. Днепр</b>ТРК «Апполо 2» магазин «Yellow» ул.Титова, 36</li>
                        <li><b>г. Днепр</b>ТЦ "Neo Plaza" ул. Марии Кюри 5,</li>
                        <li><b>г. Днепр</b>проспект Д. Яворницкого, 34</li>
                    </ul>
                    <ul>
                        <li><b>г. Киев</b>ул.Жилянская 146, 1 этаж, Шоу-рум «Yellow» (м.Вокзальная)</li>
                    </ul>
                </address>
            </div>
        </div>
        <span>© Yellow 2021 - Интернет-магазин техники Днепр, Киев, Украина</span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
