@{
    ViewData["Title"] = "Home Page";
}

<div class="clearfix">
    <a href="" class="hotcategory">
        <span>iPhone</span>
        <img src="images/hotcategories/1/iphone.png" alt="iPhone" />
    </a>
    <a href="" class="hotcategory">
        <span>Macbook Pro</span>
        <img src="images/hotcategories/1/macbook.png" alt="Macbook Pro" />
    </a>
    <a href="" class="hotcategory">
        <span>iPad</span>
        <img src="images/hotcategories/1/ipad.png" alt="iPad" />
    </a>
    <a href="" class="hotcategory">
        <span>Apple Watch</span>
        <img src="images/hotcategories/1/watch.png" alt="Apple Watch" />
    </a>
</div>
<h2>Apple</h2>
<div class="grid">
    <div class="item">
        <img src="~/images/items/apple_ipad_pro_11.png" />
        <div class="item-info">
            <div class="item-name-container">
                <a href="" class="item-name">Iphone 11</a>
            </div>
            <span class="item-price">25 000</span>
            <a class="item-buy">Купить</a>
        </div>
    </div>
</div>

<div class="clearfix">
    <a href="" class="hotcategory">
        <span>TV 4K</span>
        <img src="images/hotcategories/2/tv-4k.png" alt="TV 4K" />
    </a>
    <a href="" class="hotcategory">
        <span>Xiaomi</span>
        <img src="images/hotcategories/2/xiaomi_20_1.png" alt="Xiaomi" />
    </a>
    <a href="" class="hotcategory">
        <span>Samsung</span>
        <img src="images/hotcategories/2/samsung_2020.png" alt="Samsung" />
    </a>
    <a href="" class="hotcategory">
        <span>Акустика</span>
        <img src="images/hotcategories/2/acoustic.png" alt="Акустика" />
    </a>
</div>
<h2>Новинки</h2>
<div class="grid">
    <div class="item">
        <img src="~/images/items/apple_ipad_pro_11.png" />
        <div class="item-info">
            <div class="item-name-container">
                <a href="" class="item-name">Iphone 11</a>
            </div>
            <span class="item-price">25 000</span>
            <a class="item-buy">Купить</a>
        </div>
    </div>
</div>
